{{#if isLoggedIn}}
<div class="card horizontal">
  <!--div class="card-image">
    <img src="/assets/images/card_bg.jpg">
  </div-->
  <div class="card-stacked">
    <div class="card-content">
	<p>
  {{#if (gt-num model.reservations.length 0)}}
	{{t 'profile.reservation.text' count=model.reservations.length}}<br/>
  {{#each levels as |level|}}
    <p>{{#link-to 'company' level.companyId class="take-seat-link"}}
    {{level.name}} >>{{/link-to}}</p> 

  {{/each}}

  {{else}}
  {{t 'profile.noreservation'}}
  <p>{{#link-to 'company' 1 class="take-seat-link"}}
  {{t 'signup.take_seat'}} >>{{/link-to}}</p> 
  {{/if}}
	</p>
    </div>
    <!--div class="card-action">
      <a href="#">This is a link</a>
    </div-->
  </div>
</div>
{{/if}}
